/* Dataview 리스트 헤더 간격 줄이기 */

.block-language-dataview ul {
  margin-top: 0.2em !important;  
  margin-bottom: 0.2em !important;
}


/* 임베드한 블록 일반 블록처럼 보이게 하기 + 제목 숨기기 */
.markdown-embed,
.markdown-embed blockquote {
    border-left: none !important;
    background: none !important;
    padding-left: 0 !important;
}
.markdown-embed .internal-embed-title {
    display: none !important;
    height: 0px !important;
}
/* 최신 옵시디언 임베드 제목 숨기기 */
.markdown-embed-title {
    display: none !important;
    height: 0px !important;
}